<h1>List of days</h1>
<p>
  <%= link_to "Create new day", new_day_path %>
</p>

<table>
  <tr>
    <th>City</th>
    <th>Weather</th>
  </tr>

  <% @days.each do |day| %>
  <tr>
    <td><%= day.city %></td>
    <td><%= day.weather %></td>
    <td><%= link_to "Edit day", edit_day_path(day) %></td>
    <td><%= link_to "Show day", day_path(day) %></td>
  </tr>
  <% end %>
</table>
